body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.header-logo {
  background: url("/assets/images/benchmarkpoker_logo.png");
  width: 590px;
  height: 75px;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 42px;
}
.login-container {
  background: #000;
  height: 100%;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
}
h1 {
  text-align: center;
  font-family: impact;
  color: #292929
}
.login-img {
  background: url("/assets/images/benchmark-logo.png") center;
  background-size: cover;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  padding-top: 132px;
  margin-top: -160px;
}
.login-logo {
  background: url("/assets/images/benchmarkpoker_logo.png") no-repeat;
  width: 700px;
  height: 90px;
  margin: 0 auto;
  background-size: contain;
  background-position: 0;
  margin-top: 40px;
  position: relative;
}
.login-form {
  position: relative;
  margin: 0 auto;
  width: 400px;
  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2.5deg);
  margin-top: 180px;
  padding-left: 12px;
}
.login-form button {
  width: 170px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #555;
  background: #f00;
  /* box-shadow: 0 0 30px -10px #555; */
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}
.login-form input {
  display: block;
  width: 162px;
  height: 30px;
  padding-left: 5px;
  background: transparent;
  border-radius: 2px;
  border: 1px solid #555;
  margin: 10px auto 0;
  background: #fff;
  color: #000;
  font-size: 14px;
}
/* Header */
.header {
  margin: 0;
  padding-top: 70px;
  background: #292929;
  height: 170px;
}
.ribbon {
  background-color: #fc010d;
  margin: 0 auto;
  height: 4px;
  width: 1195px;
}
.login {
  position: relative;
  font-family: garamond semibold;
  color: #979595;
  vertical-align: top;
  padding-top: 15px;
  font-weight: bold;
}
.header-nav ul {
  list-style: none;
  padding-left: 0;
}
.header-nav li {
  display: inline-block;
  padding-left: 20px;
}

.chipsInPlay{
width: 980px;
display: inline-block;
margin-left: 140px;
padding: 25px;
}

.preFlopRaise{
  width: 980px;
  display: inline-block;
  margin-left: 140px;
  padding: 25px;
}

.comment-box {
  height: 100px;
  width: 300px;
}
li {
  list-style-type: none;
}
.comments {
  vertical-align: middle;
  position: relative;
  margin-left: 12px;
  width: 400px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}

textarea {
  height: 70px;
  width: 450px;
}
/* Footer */
footer {
  height: 127px;
  background: #292929;
}
.footer-nav {
  position: relative;
  color: #fff;
  font-family: sans-serif;
  display: inline-block;
  vertical-align: top;
}
.footer-nav ul {
  list-style: none;
  padding-left: 0;
}
.footer-nav li {
  display: inline-block;
  padding-left: 20px;
}
.footer-social {
  position: relative;
  color: #979595;
  font-family: sans-serif;
  float: right;
}
.footer-social ul {
  list-style: none;
  padding-left: 0;
}
.footer-social li {
  display: inline-block;
  padding-left: 20px;
}
.footer-logo {
  background: url("/assets/images/cards.png");
  padding-top: 15px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-container {
  margin: 0 auto;
  font-family: garamond semibold;
  color: #979595;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}
