
h1,
h4 {
  color: red;
  font-family: 'Michroma', sans-serif;
}

.header {
  background-color: black;
}

.top-container {
  display: flex;
}

.bottom-container {
  display: flex;
}

.location {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 50%;
}

.opponents {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 50%;
}

.equity {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 50%;
}

h5 {
  color: red;
  font-family: 'Michroma', sans-serif;
}

.footer {
  background-color: black;
}
