{{outlet}}


<div class="login-container">

  <div class="login-logo">
  </div>

  <div class="login-img">

    <div class="login-form">
      <form {{action 'authenticate' on="submit"}}>

            {{input value=identification placeholder='Enter Email' type='email' }}

            {{input value=password placeholder='Enter Password' type='password' }}

            <button type="submit">Login</button>
            
      </form>
    </div>

  </div>


</div>
